*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.container{
    width: 90%;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* header site */
.header_site{
    width: 100%;
}
.header_header{
    width: 100%;
    margin-bottom: 40px;
}
.logo_container{
    width: 100%;
    height: 100px;
    background-image: url("../img/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}
.links{
    width: 100%;
}
.links > ul > li{
    display: inline;
}
.links > ul > li > a{
    text-decoration: none;
    text-transform: uppercase;
    color: #8a8a8a;
    margin-right: 10px;
}
.content_header{
    width: 100%;
    height: 450px;
    background-image: url("../img/banner.jpg");
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    color: white;
    padding: 300px 200px 40px 40px;
}
/* /header site */

/* main site */
.main_conteiner{
    width: 100%;
    color: #8a8a8a;
}
.main_title{
    width: 100%;
    float: left;
    padding-top: 40px;
    padding-bottom: 40px;
}
.main_title > h1{
    color: black;
}
.main_conteiner h4 {
    color: black;
    padding-bottom: 20px;
}
.aside_left, .aside_right{
    width: 20%;
    float: left;
}
.aside_left{
    margin-right: 2%;
}
.aside_right{
    margin-left: 2%;
}
.middle_content{
    width: 56%;
    float: left;
}
.image_left, .image_right, .image_middle{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.words_left, .words_right, .words_middle{
    width: 100%;
    float: left;
}
.image_left{
    background-image: url("../img/img-1.jpg");
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    height: 200px;
}
.image_middle{
    background-image: url("../img/banner-2.jpg");
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    height: 200px;
}
.image_right{
    background-image: url("../img/img-3.jpg");
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    height: 200px;
}
.layover{
    width: 100%;
    height: 100%;
    background-color: rgba(210, 210, 210, 0.5);
    border-radius: 20px;
}
/* /main site */

/* footer site */
footer{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer > span{
    color: red;
}
/* /footer site */